<div class="container">
  <div class="input-group  col-md-7 col-md-offset-2">
    <span class="input-group-addon">分类ID</span>
    <input type="text" class="form-control" ng-model="category.id">
  </div>
  <div class="input-group col-md-7 col-md-offset-2">
    <span class="input-group-addon">分类名称</span>
    <input type="text" class="form-control" ng-model="category.name">
  </div>
  <div class="input-group col-md-7 col-md-offset-2  text-right">
    <a  ng-click="add(category)">确定添加</a>{{tip}}}
  </div>
</div>
