<div class="container">
  <div class="input-group  col-md-7 col-md-offset-2">
    <span class="input-group-addon">商品ID</span>
    <input type="text" class="form-control" ng-model="goods.id">
  </div>
  <div class="input-group col-md-7 col-md-offset-2">
    <span class="input-group-addon">商品名称</span>
    <input type="text" class="form-control" ng-model="goods.name">
  </div>
  <div class="input-group col-md-7 col-md-offset-2">
    <span class="input-group-addon">商品单位</span>
    <input type="text" class="form-control" ng-model="goods.unit">
  </div>
  <div class="input-group col-md-7 col-md-offset-2">
    <span class="input-group-addon">商品单价</span>
    <input type="text" class="form-control" ng-model="goods.price">
  </div>
  <div class="input-group col-md-7 col-md-offset-2">
    <span class="input-group-addon">商品分类</span>
    <select ng-model="goods.category" class="form-control">
      <option ng-repeat="category in categories">{{category.name}}</option>
    </select>
  </div>
  <div class="input-group col-md-7 col-md-offset-2  text-right">
    <a ng-click="edit(goods)">提交修改</a>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">警告</h4>
      </div>
      <div class="modal-body">
        请输入完整信息
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
