<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">类别管理</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-3">
          <button class="btn btn-defualt"><a ng-href="#/addCatagary">添加新类别</a></button>
        </div>
        <div class="input-group col-lg-3">
          <input type="text" class="form-control" placeholder="搜索" ng-model="search">
           <span class="input-group-btn">
             <button class="btn btn-default" type="button">查找</button>
           </span>
        </div>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>id</th>
          <th>名称</th>
          <th>删除</th>
          <th>修改</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="category in categories |filter:{name:search}">
          <td>{{category.id}}</td>
          <td>{{category.name}}</td>
          <td>
            <a ng-click="removeItem(category)">删除</a>{{tip}}}
          </td>
          <td>
            <a ng-href="#/api/categories/edit" ng-click="showEdit(category)">修改</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
